.loginPage {
  background: url("Images/istockphoto-1353553203-170667a.jpg");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)),
    url("Images/istockphoto-1353553203-170667a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;
  width: 100%;
}
.logoContainer {
  width: 100px;
  margin: 15px auto !important;
  width: 150px;
}

.loginForm {
  background-color: rgba(1, 32, 93, 0.6);
  color: white;
}



.square-decoration {
  background-color: hsl(0, 0%, 98%);
  border-radius: 50%;
  padding: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-box {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 3%;
  border: radius 3px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
}



.employee-info {
  background-color: #fff;
  border: 1px solid #f9f6f6;
  border-radius: 8px;
  padding: 20px;
  width: 300px; /* Set the width of the box */
  float: left; /* Position the box on the left side */
  margin-right: 20px; /* Add some right margin for spacing */
}


.navstyle{
  background-color: #2b80eb;
}

.lable{
  font-weight: bold;
}

.custom-date-input{
  background-color: #f9f6f6;
  color: #000000;
  margin: 20px;
  font-weight: bold;
  }

  .custom-date-input::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    }
  
  
 .text-success{
font-weight: bold;
 }   

 .text-danger{
  font-weight: bold;
   }   